<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keystone MMA</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/flask_app/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/flask_app/static/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="header">
        <div id="top_head">
            <img src="/static/images/logo.png" alt="logo">
            <h1>Keystone Martial Arts Academy</h1>
            <div id="head_a">
                <a href="/login">My Account</a>
            </div>
        </div>
        <div id="nav">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/classes">Classes/Schedule</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div id="belt">
        <div id="beg_belt"></div>
        <div id="mid_belt"></div>
        <div id="end_belt"></div>
    </div>
    <div id="about_middle">
        <div id="about_left_middle">
            <img src="/static/images/prof.jpg" alt="prof">
            <div id="about_p">
                <p>For over 35 years Keystone MMA has been serving Keystone Heights and its surrounding area. Being one of the only gyms in the area, and the only gym to train both BJJ and MMA Keystone MMA offers a great training environment for any person interested in martial arts.</p>
                <p>Keystone MMA is led by Master Elpidio Santiago, who throughout his years of training has earned a 5th degree black belt in Hapkido, a 7th degree blackbelt in Tang Soo Do, and a 2nd degree blackbelt in Brazilian Jui Jitsu.</p>
            </div>
        </div>
        <div id="about_right_middle">
            <div class="pics">
                <img src="static/images/about_img/about3.jpg" alt="class photos">
                <img src="static/images/about_img/about4.jpg" alt="class photos">
            </div>
            <div class="pics">
                <img src="static/images/about_img/about5.jpg" alt="class photos">
                <img src="static/images/about_img/kids.jpg" alt="class photos">
            </div>
        </div>
    </div>
    </div>
    <div id="belt">
        <div id="beg_belt"></div>
        <div id="mid_belt"></div>
        <div id="end_belt"></div>
    </div>
    <div id="footer">
        <div id="left_foot">
            <p>Keystone MMA</p>
        </div>
        <div id="right_foot">
            <a href="https://www.facebook.com/STTPMMA"><img src="/static/images/facebookicon.png" alt="facebook icon"></a>
            <a href="mailto:santiagosttpmma@yahoo.com"><img src="/static/images/email.png" alt="email icon"></a>
        </div>
    </div>
</body>
</html>