<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keystone MMA</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/flask_app/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/flask_app/static/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="header">
        <div id="top_head">
            <img src="/static/images/logo.png" alt="logo">
            <h1>Keystone Martial Arts Academy</h1>
            <div id="head_a">
                <a href="/login">My Account</a>
            </div>
        </div>
        <div id="nav">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/classes">Classes/Schedule</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div id="belt">
        <div id="beg_belt"></div>
        <div id="mid_belt"></div>
        <div id="end_belt"></div>
    </div>
    <div id="classes_top">
        <div class="class_box">
            <h2>Adults</h2>
            <p>From ages 13 on up</p>
            <p>Train with people of all ages, genders, and body type</p>
            <p>30 minute warm up</p>
            <p>30 minutes of drilling/learning techniques</p>
            <p>30 minutes of grappling</p>
        </div>
        <div class="class_box">
            <h2>Women</h2>
            <p>From ages 13 on up</p>
            <p>Train with women of all ages and body type</p>
            <p>15 minute warm up</p>
            <p>15 minutes of drilling/learning techniques</p>
            <p>30 minutes of grappling</p>
        </div>
        <div class="class_box">
            <h2>Children</h2>
            <p>From ages 8-13</p>
            <p>Train with children of all genders, and body type</p>
            <p>10 minute warm up</p>
            <p>30 minutes of drilling/learning techniques</p>
            <p>20 minutes of grappling</p>
        </div>
    </div>
    <div id="schedule">
        <div class="day">
            <h3>Monday</h3>
            <p>6:00-7:00pm: Kids</p>
            <p>7:00-8:30pm: Adults</p>
        </div>
        <div class="day">
            <h3>Tuesday</h3>
            <p>6:00-7:00pm: Women</p>
            <p>7:00-8:30pm: Adults</p>
        </div>
        <div class="day">
            <h3>Wednesday</h3>
            <p>6:00-7:00pm: Kids</p>
            <p>7:00-8:30pm: Adults</p>
        </div>
        <div class="day">
            <h3>Thursday</h3>
            <p>6:00-7:00pm: Kids</p>
            <p>7:00-8:30pm: Adults</p>
        </div>
    </div>
    <div id="pricing">
        <h3>Pricing for monthly memberships:</h3>
        <p>Registration fee's are one time only</p>
        <div id="prices">
            <div class="fees">
                <h4>One person</h4>
                <p>Registration fee: $125</p>
                <p>Monthly fee: $75</p>
            </div>
            <div class="fees">
                <h4>Family Discount</h4>
                <p>Registration fee: $100pp</p>
                <p>Montly fee: $60pp</p>
            </div>
        </div>
        <p>**Inquire within for special miliatry and first responder pricing**</p>
    </div>
    <div id="belt">
        <div id="beg_belt"></div>
        <div id="mid_belt"></div>
        <div id="end_belt"></div>
    </div>
    <div id="footer">
        <div id="left_foot">
            <p>Keystone MMA</p>
        </div>
        <div id="right_foot">
            <a href="https://www.facebook.com/STTPMMA"><img src="/static/images/facebookicon.png" alt="facebook icon"></a>
            <a href="mailto:santiagosttpmma@yahoo.com"><img src="/static/images/email.png" alt="email icon"></a>
        </div>
    </div>
</body>
</html>