<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keystone MMA</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header">
        <div id="top_head">
            <img src="/static/images/logo.png" alt="logo">
            <h1>Keystone Martial Arts Academy</h1>
            <div id="head_a">
                <a href="#">Login</a>
            </div>
        </div>
        <div id="nav">
            <a href="/">Home</a>
            <a href="#">About</a>
            <a href="#">Classes/Schedule</a>
            <a href="#">Contact</a>
        </div>
    </div>
        <div id="belt">
        <div id="beg_belt"></div>
        <div id="mid_belt"></div>
        <div id="end_belt"></div>
    </div>
    <div id="middle_box">
        <div id="left_box">
            <h2>Keystone Martial Arts Academy</h2>
            <h3>Carlson Gracie Jiu-Jitsu Team</h3>
            <h3>Keystone Heights, FL</h3>
            <p><strong>Family - Honor - Respect</strong></p>
            <p><em>Professor Elpidio Santiago</em></p>
            <img src="/static/images/Groupphoto.jpg" alt="Group Photo">
            <p>Come join our team!</p>
        </div>
        <div id="right_box">
            <p>Check out our Facebook for class updates</p>
            <div class="fb-page" data-href="https://www.facebook.com/STTPMMA" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/STTPMMA" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/STTPMMA">Keystone Martial Arts Academy  - Carlson Gracie Keystone / STTP MMA</a></blockquote></div>
        </div>
    </div>
    <div id="footer">
        <div id="left_foot">
            <p>275 S. Lawrence Blvd</p>
            <p>Keystone Heights, FL 32656</p>
            <p>352-214-8144</p>
            <p>santiagosttpmma@yahoo.com</p>
        </div>
        <div id="right_foot">
            <a href="https://www.facebook.com/STTPMMA"><img src="/static/images/facebookicon.png" alt="facebook icon"></a>
        </div>
    </div>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0" nonce="4hL1S62c"></script>
</body>
</html>